rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function small() { return request.resource.data.keys().hasAny(['t','text','phone','name','url','pid']) == false || request.resource.size() < 900000; }
    match /chats/{id} {
      allow read: if true;
      allow create: if request.resource.data.text is string && request.resource.data.text.size() < 300;
      allow update, delete: if true;
    }
    match /{document=**} {
      allow read: if true;
      allow write: if true;
    }
  }
}
